html,
body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  overflow-x: hidden;
  background: #050505;
}/* You can add global styles to this file, and also import other style files */
